version: "3.8"

services:
  frontend:
    build:
      context: ./frontend
      args:
        ENVIRONMENT: ${ENVIRONMENT}
    container_name: frontend
    ports:
      - "80:80"
    restart: always

  backend:
    build:
      context: ./backend
      args:
        ENVIRONMENT: ${ENVIRONMENT}
    container_name: backend
    ports:
      - "8080:8080"
    restart: always

  scraper-v2:
    build:
      context: ./scraper-v2
    container_name: scraper-v2
    ports:
      - "8000:8000"  
    restart: always
